portal_hostname: example.harid.ee
portal_port: 443
api_user: SomEu5eR
secret: SecretTok3n

#portal_ca_cert: harid.ee.crt
box_key: candibox.key

# LDAP connection setup
ldap_host: localhost
ldap_port: 636
ldap_method: :ssl
ldap_base: DC=example,DC=com
ldap_bind_dn: CN=Administrator,CN=Users,DC=example,DC=com
ldap_password: Pa$$w0rd
allow_anonymous: false
